.table,
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td {
  img {
    cursor: pointer;
    width: 20px;
  }
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.homepage__maincontent__addemployees__heading {
  padding: 25px 0;
  padding-bottom: 10px;
  h2 {
    margin: 0;
    color: #007bff;
    text-align: center;
    margin: 0;
    font-size: 1.125rem;
  }
}

.homepage__maincontent__employees__data {
  padding: 15px;
}

.homepage__maincontent__employees__table {
  padding: 20px 15px;
  padding-top: 50px;
  h1 {
    margin: 0;
    color: #000000;
    margin: 0;
    font-size: 1.125rem;
    padding-bottom: 15px;
  }
}

.homepage__maincontent__addemployees__users__notfound {
  margin: 10% auto;
  text-align: center;
  h2 {
    font-size: 1rem;
    color: rgba(0,0,0,.5);
    text-align: center;
    padding-top: 20px;
    margin: 0;
    padding-bottom: 15px;
  }
}

.error__heading {
  margin: 0;
  padding: 20px 15px;
}
