.loggedout {
  margin: 10% auto;
  text-align: center;
  a {
    font-size: 2rem;
  }
}

.homepage {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.homepage__sidebar__logo {
  background: rgba(0,0,21,.2);
}

.homepage__sidebar__content {
  overflow: auto;
  h1 {
    margin: 0;
    font-size: 1.0625rem;
    color: #FFFFFF;
    font-weight: 500;
    padding: 10px 15px;
  }
}

.active {
  background-color: #007bff;
}

.homepage__sidebar__logo {
  padding: 10px 15px;
}

.header__padding {
  padding: 16px 15px;
}

.homepage__sidebar {
  width: 256px;
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  flex: 0 0 256px;
  flex-direction: column;
  order: -1;
  background-color: #3c4b64;
  a {
    font-size: 1.5rem;
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.homepage__sidebar__content ul li {
  color: #FFFFFF;
  cursor: pointer;
  &:hover {
    background-color: #007bff;
  }
  a {
    font-size: 1rem;
    display: block;
    padding: 8px 30px;
  }
}

.header__position {
  position: sticky;
  top: 0;
}

.homepage__maincontent {
  width: 100%;
  margin-left: 256px;
}

.homepage__sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  transition: 0.2s;
}

.homepage__sidebar,
.homepage__maincontent {
  transition: 0.3s;
}

.homepage__sidebar {
  z-index: 2;
}

.sidebar__close span {
  display: none;
  color: #FFFFFF;
  font-size: 1.325rem;
  cursor: pointer;
}

.homepage__maincontent__addemployees__form {
  max-width: 300px;
  margin: auto;
}

.MuiFormControl-root {
  width: 100%;
}
.homepage__maincontent__addemployees__form__inputs {
  margin: 20px 0;
}

.header__navbar__menu--btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border: 0;
  height: 25px;
}
.header__navbar__menu--btn__icon {
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.header__navbar__menu--btn__icon::before,
.header__navbar__menu--btn__icon::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.header__navbar__menu--btn__icon::before {
  transform: translateY(-10px);
}
.header__navbar__menu--btn__icon::after {
  transform: translateY(10px);
}
/* ANIMATION */
.header__navbar__menu--btn.open .header__navbar__menu--btn__icon {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.header__navbar__menu--btn.open .header__navbar__menu--btn__icon::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.header__navbar__menu--btn.open .header__navbar__menu--btn__icon::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media screen and (max-width: 767px) {
  .homepage__maincontent {
    margin-left: 0;
  }
  .homepage__sidebar__inactive {
    left: -256px;
  }
  .homepage__sidebar__active {
    left: 0;
  }
  .header__navbar__menu--btn {
    display: flex;
  }
  .sidebar__close span {
    display: block;
  }
  .homepage__maincontent__addemployees__form {
    padding: 0 15px;
  }
}